.producto {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #121212; /* Fondo oscuro */
    color: #fff;
    padding: 50px 20px;
    flex-wrap: wrap; /* Responsive */
}

.producto-galeria {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.producto-img img {
    max-width: 400px;
    width: 100%;
    border-radius: 10px;
}

.producto-miniaturas {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.producto-miniaturas img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.producto-miniaturas img:hover {
    transform: scale(1.1);
    border: 2px solid #ffcc00;
}

.producto-info {
    max-width: 400px;
}

.producto-info h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.precio {
    font-size: 20px;
    color: #ffcc00;
    font-weight: bold;
}

.descripcion {
    margin: 10px 0;
    font-size: 16px;
}

.btn-comprar {
    background: #ffcc00;
    color: #121212;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-comprar:hover {
    background: #e6b800;
}
